@tailwind base;
@tailwind components;
@tailwind utilities;

/* (optional) ปรับพื้นหลัง/ฟอนต์นิดหน่อย */
:root {
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial,
    "Noto Sans Thai", "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  margin: 0;
}
